{% extends 'base.html.twig' %}

{% block title %}Les formations{% endblock %}

{% block body %}


<div class="wrapper">



    {% for formation in formations %}

    <p>
        <a href="{{path('show_formation', {'id' : formation.id}) }}">
            Module : {{formation.nameFormation}}
        </a>
    </p>

    {% endfor %}

</div>

{% endblock %}