{% extends 'base.html.twig' %}

{% block title %}Les formations{% endblock %}

{% block body %}


<div class="wrapper">



    {% for formation in formations %}

    <p>
        <a href="{{path('show_formation', {'id' : formation.id}) }}">
            Formation : {{formation.nameFormation}}
        </a>
        <a class="btn btn-warning" href="{{ path('edit_formation', {'id': formation.id }) }}">Editer</a>
        <a class="btn btn-danger" href="{{ path('delete_formation', {'id': formation.id }) }}">Supprimer</a>
    </p>

    {% endfor %}

</div>

{% endblock %}